@model IEnumerable<BakToDoFuture.Models.ApplicationUser>

@{
    ViewBag.Title = "Kullanıcılar";
}

<h2>Kullanıcılar</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Register","Account", null, new { @class = "btn btn-primary" })

    <a class="dt-button buttons-excel buttons-html5 btn yellow btn-outline" tabindex="0" aria-controls="sample_1" href="@Url.Action("ExportToExcel","ApplicationUsers")" style="float:right;"><span>Excel Aktar</span></a>
    <a class="dt-button buttons-csv buttons-html5 btn purple btn-outline" tabindex="0" aria-controls="sample_1" href="@Url.Action("ExportToCsv","ApplicationUsers")" style="float:right;"><span>CSV Aktar</span></a>

</p>
<table id="tblRecords" class="table">
    <thead>
        <tr>
            <th class="text-nowrap all">
                E-Posta
            </th>
            <th class="text-nowrap">
                E-Posta Onay
            </th>
            <th class="text-nowrap">
                Telefon
            </th>
            <th class="text-nowrap">
                Telefon Onay
            </th>
            <th class="text-nowrap">
                İki Aşamalı Kimlik Doğrulama Etkin
            </th>
            <th class="text-nowrap">
                Kilitleme Bitiş Tarihi
            </th>
            <th class="text-nowrap">
                Kilitleme Etkin
            </th>
            <th class="text-nowrap">
                Başarısız Erişim Sayısı
            </th>
            <th class="text-nowrap">
                Kullanıcı Adı
            </th>
            <th data-orderable="false" class="all">Eylemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td class="text-nowrap">
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Ayrıntılar", "Details", new { id = item.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
